@use "../abstracts/" as *;
.section2 {
    background: #f2f7ff;
    .section2__container {
        padding: 126px 20px;
        display: flex;
        flex-direction: row;
        gap: 52.69px;
        @include lg() {
            flex-direction: column;
            align-items: center;
        }
        .section2__content--left {
            max-width: 420px;
            margin-top: 20px;
            @include lg() {
                text-align: center;
                max-width: 100%;
            }
            .content-left__heading {
                font-family: "Playfair Display";
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 64px;
                letter-spacing: 0.323077px;
                color: #2d2f30;
                @include sm() {
                    font-size: 36px;
                }
            }
            .content-left__text {
                margin-top: 20px;
                max-width: 384px;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 36px;
                letter-spacing: 0.5px;
                color: #8b8c8c;
                @include lg() {
                    max-width: 100%;
                }
            }
        }
        .section2__cards {
            display: grid;
            grid-template-columns: repeat(2, minmax(auto, 256px));
            gap: 30px;
            @include sm() {
                grid-template-columns: repeat(1, minmax(auto, 256px));
            }
        }
    }
}
.section2__card {
    max-width: 256px;
    padding: 24px;
    background: #fcfcfc;
    box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .section2__card--title {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
        letter-spacing: 0.5px;
        color: #363940;
    }
    .section2__card--text {
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #8b8c8c;
    }
}
