 <div class="section1">
    <div class="container section1__container">
        <div class="section1__content">
            <div class="tag">
                <div class="tag__flag">
                    <p>New</p>
                </div>
                <p class="tag__text">Stay connected to the upcoming & Recent
                    jobs</p>
            </div>
            <h1 class="section1-content__heading">Your Solution Legal Consultacy</h1>
            <p class="section1-content__text">We are here to help you take care
                of your
                legality with the best
                service especially for you.</p>
            <button class="btn btn--start">Get started</button>
            <div>
                <p class="section1-content__text--gray">Trusted by 10+ companies
                    in indonesia</p>
                <ul class="trendmark__list">
                    <li class="trendmark__item">
                        <img src="../assets/images/trendmark_1.png"
                            alt="trendmark">
                    </li>
                    <li class="trendmark__item">
                        <img src="../assets/images/trendmark_2.png"
                            alt="trendmark">
                    </li>
                    <li class="trendmark__item">
                        <img src="../assets/images/trendmark_3.png"
                            alt="trendmark">
                    </li>
                    <li class="trendmark__item">
                        <img src="../assets/images/trendmark_4.png"
                            alt="trendmark">
                    </li>
                </ul>
            </div>
        </div>
        <div class="image__bgr">
            <img src="../assets/images/Hero Image.png"
                class="img__responsive" alt="image section
                1">
            <div class="block__information">
                <h1 class="block__information--name">Tiara Andini</h1>
                <p class="block__information--job">- Lawyer</p>
            </div>
        </div>
    </div>

</div>
