<section class="section3">
    <div class="container section3__container">
        <h1 class="section3--heading">Some count that matters</h1>
        <p class="section3--text">Our achievement in the journey depiced in
            numbers</p>
        <ul class="section3__list">
            <li class="list__item">
                <h1 class="item--heading">30</h1>
                <p class="item--text">Clients</p>
            </li>
            <li class="list__item">
                <h1 class="item--heading">300+</h1>
                <p class="item--text">Taken business legalities</p>
            </li>
            <li class="list__item">
                <h1 class="item--heading">8</h1>
                <p class="item--text">Years of Journey</p>
            </li>
        </ul>
    </div>
</section>