<section class="section4">
    <div class="container section4__container">
        <h1 class="section4--heading">Client Testimonial</h1>
        <ul class="testimonials">
            <li class="testimonial">
                <article class="testimonial__content">
                    <h2 class="testimonial__content--title">Incredible
                        Experience</h2>
                    <p class="testimonial__content--text">We had an incredible
                        experience working with Landify and
                        were impressed they made such a big difference in only
                        three weeks. Our team is so grateful for the wonderful
                        improvements they made and their ability to get familiar
                        with the concept so quickly.</p>
                </article>
                <div class="testimonial__information">
                    <figure class="information__avatar">
                        <img src="../assets/images/Photo.png" alt="client">
                    </figure>
                    <div class="information__content">
                        <h2 class="information-content--name">Anya Tailor Joy</h2>
                        <p class="information-content--job">CEO, SF Industires</p>
                    </div>
                </div>
            </li>
            <li class="testimonial">
                <article class="testimonial__content">
                    <h2 class="testimonial__content--title">Dependable,
                        Responsive, Professional Partner</h2>
                    <p class="testimonial__content--text">Fermin Apps has
                        collaborated with Landify team for several projects such
                        as Photo Sharing Apps and Custom Social Networking Apps.
                        The experience has been pleasant, professional and
                        exceeding our expectations. </p>
                </article>
                <div class="testimonial__information">
                    <figure class="information__avatar">
                        <img src="../assets/images/Photo.png" alt="client">
                    </figure>
                    <div class="information__content">
                        <h2 class="information-content--name">Sri Alam</h2>
                        <p class="information-content--job">CEO, Membagonkan
                            GROUP</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>